@media (max-width: 1000px){
    a:hover{
        filter: contrast(150%);
        opacity: 0.9;
    }
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: unset;
    }
    .corpo{
        margin-top: 15px;
        padding: 0px 10px;
    }
    .container-col-2{
        width: calc(100vw - 20px);
        flex-wrap: wrap;
    } 
    .logo-mobile{
        width: 100vw;
        height: 50px;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .imgLogo-mobile{
        width: 120px;
        margin: 0px;
    }
    .menus{
        width: 100vw;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    .col-left{
        width: 100%;
        padding-right: initial;
        border-right: initial;
    }
    .col-rigth{
        width: 100%;
        padding-left: 0px;
    }
    .newsColEsq{
        width: 100%;
        padding: initial;
    }
    .newsColDir{
        width: 100%;
        padding: initial;
        border: initial
    }
    .news-col-3{
        border-bottom: initial;
        margin: 0px;
        padding: 0px;
    }
    div.pequena{
        width: 100vw;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0,0%,51%,.2);
        padding: 10px 0px;
    }
    div.media{
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0,0%,51%,.2);
        padding: 10px 0px;
    }
    .news-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        padding: 10px 0px;
    }
    h4{
        padding-bottom: 10px;
    }
    img{
        width: calc(50vw - 20px);
        height: 80%;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    img:hover{
        filter: brightness(80%);
    }
    .faixa-img{
        width: 100%;
        display: block;
    }
    div.grande{
        width: 100%;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 1px;
    }
    .newsImg-laranja{
        width: 100%;
        height: 150px;
        background: #FF8100;
        z-index: 10;
        margin-bottom: 1px;
    }
    h6{
        display: none;
    }
    .center{
        top: initial;
        bottom: 20px;
        left: 20px;
    }
}